In [5]:
import pandas as pd
import numpy as np
import json

In [8]:
import pandas as pd
import numpy as np
import json

with open ("C:/Users/vedha/Downloads/t20_wc_match_results.json") as f:
 data=json.load(f)
df_match=pd.DataFrame(data[0]["matchSummary"])
print (df_match.head())
print (df_match.shape)
print(df_match.columns)

         team1        team2       winner     margin   ground     matchDate  \
0      Namibia    Sri Lanka      Namibia    55 runs  Geelong  Oct 16, 2022
1  Netherlands       U.A.E.  Netherlands  3 wickets  Geelong  Oct 16, 2022
2     Scotland  West Indies     Scotland    42 runs   Hobart  Oct 17, 2022
3      Ireland     Zimbabwe     Zimbabwe    31 runs   Hobart  Oct 17, 2022
4      Namibia  Netherlands  Netherlands  5 wickets  Geelong  Oct 18, 2022

     scorecard
0  T20I # 1823
1  T20I # 1825
2  T20I # 1826
3  T20I # 1828
4  T20I # 1830
(45, 7)
Index(['team1', 'team2', 'winner', 'margin', 'ground', 'matchDate',
       'scorecard'],
      dtype='object')

In [9]:
#We will use the scorecard column as the key of dataframe
import pandas as pd
import numpy as np
import json
df_match.rename({"scorecard":"match_id"},axis=1 , inplace=True)
df_match.head(11)

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837

In [137]:
print(df_match.head())

         team1        team2       winner     margin   ground     matchDate  \
0      Namibia    Sri Lanka      Namibia    55 runs  Geelong  Oct 16, 2022
1  Netherlands       U.A.E.  Netherlands  3 wickets  Geelong  Oct 16, 2022
2     Scotland  West Indies     Scotland    42 runs   Hobart  Oct 17, 2022
3      Ireland     Zimbabwe     Zimbabwe    31 runs   Hobart  Oct 17, 2022
4      Namibia  Netherlands  Netherlands  5 wickets  Geelong  Oct 18, 2022

      match_id
0  T20I # 1823
1  T20I # 1825
2  T20I # 1826
3  T20I # 1828
4  T20I # 1830

**Batting Summary**

In [14]:
with open ("C:/Users/vedha/Downloads/t20_wc_batting_summary.json") as f:
  data=json.load(f)
    
  all_records=[]

  for rec in data:
     all_records.extend(rec["battingSummary"])

     
df_batting=pd.DataFrame(all_records)
print(df_batting.head(11))
print(df_batting.tail())
print (df_batting.shape)

                   match teamInnings  battingPos             batsmanName  \
0   Namibia Vs Sri Lanka     Namibia           1      Michael van Lingen
1   Namibia Vs Sri Lanka     Namibia           2           Divan la Cock
2   Namibia Vs Sri Lanka     Namibia           3  Jan Nicol Loftie-Eaton
3   Namibia Vs Sri Lanka     Namibia           4           Stephan Baard
4   Namibia Vs Sri Lanka     Namibia           5      Gerhard Erasmus(c)
5   Namibia Vs Sri Lanka     Namibia           6            Jan Frylinck
6   Namibia Vs Sri Lanka     Namibia           7             David Wiese
7   Namibia Vs Sri Lanka     Namibia           8                 JJ Smit
8   Namibia Vs Sri Lanka   Sri Lanka           1         Pathum Nissanka
9   Namibia Vs Sri Lanka   Sri Lanka           2         Kusal Mendisâ€
10  Namibia Vs Sri Lanka   Sri Lanka           3     Dhananjaya de Silva

                          dismissal runs balls 4s 6s      SR
0      c Pramod Madushan b Chameera    3     6  0  0   50.00
1       c Shanaka b Pramod Madushan    9     9  1  0  100.00
2         c â€ Mendis b Karunaratne   20    12  1  2  166.66
3   c DM de Silva b Pramod Madushan   26    24  2  0  108.33
4      c Gunathilaka b PWH de Silva   20    24  0  0   83.33
5   run out (Gunathilaka/â€ Mendis)   44    28  4  0  157.14
6          c â€ Mendis b Theekshana    0     1  0  0    0.00
7                                     31    16  2  2  193.75
8                 c Smit b Shikongo    9    10  1  0   90.00
9                c â€ Green b Wiese    6     6  0  0  100.00
10            c Shikongo b Frylinck   12    11  1  0  109.09
                   match teamInnings  battingPos       batsmanName  \
694  Pakistan Vs England     England           3         Phil Salt
695  Pakistan Vs England     England           4        Ben Stokes
696  Pakistan Vs England     England           5       Harry Brook
697  Pakistan Vs England     England           6         Moeen Ali
698  Pakistan Vs England     England           7  Liam Livingstone

                               dismissal runs balls 4s 6s      SR
694        c Iftikhar Ahmed b Haris Rauf   10     9  2  0  111.11
695                                        52    49  5  1  106.12
696  c Shaheen Shah Afridi b Shadab Khan   20    23  1  0   86.95
697                     b Mohammad Wasim   19    13  3  0  146.15
698                                         1     1  0  0  100.00
(699, 10)

In [15]:
#creating a not out /out column from dismissal column and then dropping dismissal column

df_batting["out/not_out"]=df_batting.dismissal.apply(lambda x:"out" if len(x) >0 else "not_out")

df_batting.drop(columns=["dismissal"],inplace=True)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

In [144]:
# Removing special characters like the one after Mendis

df_batting["batsmanName"]=df_batting.batsmanName.apply(lambda x: x.replace("â€"," "))
df_batting["batsmanName"]=df_batting.batsmanName.apply(lambda x: x.replace("\xa0"," "))

df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out

In [10]:
# Creating a match id dictionary for a key column because in Batting summary and match summary data we dont have any common column

match_id_dict={}

for index, row in df_match.iterrows():
    key1 = row['team1'] +" Vs " + row['team2']
    key2 = row['team2'] +" Vs " + row['team1']

    match_id_dict[key1]= row["match_id"]
    match_id_dict[key2]= row["match_id"]

match_id_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

In [17]:
#Creating a new column of match id in batting summary data
df_batting["match_id"]=df_batting["match"].map(match_id_dict)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out,T20I # 1823
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out,T20I # 1823
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out,T20I # 1823
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out,T20I # 1823

In [20]:
#Saving a dataframe into excel or csv file

df_batting.to_excel("https://d.docs.live.net/9B917AB5939D7393/Documents/Pandas.xlsx",index=False)